
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container-fluid {
  margin: 0 20px;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Baloo', sans-serif;
}

.icon-third img {
  width: 30%;
  margin-top: 30px;
}

#page-title {
  color: #7D00CA;
}

.sect-sep {
  border-bottom: 1px solid #7D00CA;
  margin-bottom: 10px;
}

.panel {
  border: 1px solid #FF672F;

  .panel-heading {
    color: white;
    background-color: #FF672F;
  }

  table {
    margin: 0;
    padding: 0;
    color: #7D00CA;
  }

}

.btn-success {
  color: white;
  background-color: #FF672F;
  border: 1px solid #FF672F;
  margin-bottom: 20px;
}

.btn-success:hover {
  color: #FF672F;
  background-color: #FEB08E;
  border: 1px solid #FEB08E;
}

.btn-success:active {
  color: #FF672F;
  background-color: #FEB08E;
  border: 1px solid #FEB08E;
}

.btn-primary:focus {
  color: white;
  background-color: #FF672F;
  border: 1px solid #FF672F;
}

.panel-body {
  padding: 10px;
}

.td-header-group {
  color: white;
  background-color: #FF672F;
  border: 1px solid #FF672F;
}
.orange-box {
  background-color: #FF672F;
  color: #9662D0;
}

.purple-box {
  background-color: #7D00CA;
}
