
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Baloo', sans-serif;
}

.orange-box {
  background-color: #FF672F;
}

.purple-box {
  background-color: #7D00CA;
}
